/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align children */
  justify-content: center; /* Center content vertically */
  margin-bottom: 30px;
}

.logo {
  max-width: 370px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Spacing between logo and subheader */
}

.subheader {
  color: #005eb8; /* Blue color, adjust as needed */
  font-size: 2em; /* Adjust size as needed */
  text-align: center; /* Center-align subheader text */
  font-family: 'Cormorant Upright', serif;
  font-style: italic; /* Apply italic style if desired */
  font-weight: bold; /* Browser-simulated bold */
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.button-style:hover {
  background-color: #003d66; /* Darker blue for hover */
}

.button-style {
  background-color: #005eb8; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 30px; /* Equal padding for cube shape */
  font-size: 1.2em; /* Larger font size for readability */
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 0 0 calc(33.33% - 40px); /* Equal width and height */
  max-width: 200px; /* Adjust based on desired cube size */
  min-height: 200px; /* Same as max-width for cube shape */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-style {
  width: 30px; /* Adjust based on your icon size */
  height: 30px;
  filter: invert(100%); /* Inverts color to white, remove if using white icons */
}

/* Adjust media query if needed */
@media (max-width: 600px) {
  .button-style {
    flex-basis: 100%;
    max-width: none;
    min-height: 100px; /* Adjust for smaller screens */
  }
}